- btn_name = "btn_#{top_category.id}"
- if top_category.name == "オールインワン・サロペット"
  - top_category.name = "オールインワン"

%li
  - next_path = request.path_info.sub("tops", "") + "top_categories/#{top_category.id}"
  = link_to top_category.name, next_path, class: "list-title category-btn", id: btn_name
  .angle-icon
    %i.fas.fa-angle-right
  .popup
    .popup.category-popup{id: "popup-#{top_category.id}"}
      .popup__inner
        %ul.popup__inner__list
          - top_category.sub_categories.each do |sub_category|
            %li.hover-link
              = link_to sub_category.name, top_category_sub_category_path(top_category, sub_category), class: "list-title"
