%section#top__left__search
  %h2.head-title 探す
  %ul#top__left__search__list
    %li
      = link_to "ブランドから探す", "#", class: "list-title link-list"
    %li
      = link_to "ショップから探す", "#", class: "list-title link-list"
    %li
      = link_to "ランキングから探す", "#", class: "list-title link-list"
%section#top__left__category
  %h2.head-title カテゴリー
  %ul#top__left__category__list
    = render 'tests/tops/category'
    %p.more-list.link-list
      = link_to "カテゴリ一覧", "#"
%section#top__left__favorite
  %h2.head-title お気に入り
  %ul#top__left__favorite__list
    %li.category-btn
      = link_to "アイテム", "#", class: "list-title"
    %li.category-btn
      = link_to "ブランド", "#", class: "list-title"
    %li.category-btn
      = link_to "ショップ", "#", class: "list-title"
//--------- ブランド--------------
= render "tests/tops/brand_list"
//--------- ショップ--------------
= render "tests/tops/shop_list"
