//--------- 「探す」リスト--------------
= render "tests/tops/search_list"
//--------- カテゴリーリスト--------------
= render "tests/tops/category_list"
//--------- お気に入りリスト--------------
= render "tests/tops/favorite_list"
//--------- ブランドリスト--------------
= render "tests/tops/brand_list"
//--------- ショップリスト--------------
= render "tests/tops/shop_list"
