- if Coupon.exists?
  = render partial: "shared/coupon_header", locals: {coupon_price: @coupon.price, shops: @coupon_shops}
= render "shared/header"
.favorite_body
  .category_var
    .inner
      %ul.nest_list.clearfix
        %li.nest_path
          = link_to "ZOZOTOWN", root_path
        %li.nest_icon
          %i.fas.fa-angle-right
        %li.nest_item
          %a お気に入り商品
  .main
    .main_body
      .main_body_name
        %h1
          %span.main_body_name_icon
            %i.far.fa-heart.fa-2x.fa-sky
          %span
            = current_user.name
          %span 様のお気に入り
      %ul.tab
        %li#js-item.select アイテム
        %li#js-bland ブランド
        %li#js-shop ショップ

      #js-item-content.content.hide
        %ul#menu.main_body_guide
          %li.main_body_guide_item.clearfix
            %h2
              %span アイテム :
              %span#item-length{'data-id': @items}
                = @items
              %span 件
          %li.main_body_guide_shop
            全てのショップ
            %ul.child
              %li
                = link_to "#" do
                  .shop 全てのショップ
                = link_to "#" do
                  .shop ZOZO
          %li.main_body_guide_category
            全てのカテゴリ
            %ul.child
              %li
                = link_to "#" do
                  .shop 全てのカテゴリ
                = link_to "#" do
                  .shop zozo
          %li.main_body_guide_others
            全て
            %ul.child
              %li
                = link_to "#" do
                  .shop 全て
                = link_to "#" do
                  .shop zozo
          %li.main_body_guide_check
            %checkbox 販売終了を除く
        %ul.main_body_list
          - @favorite_items.each do |favorite_item|
            %li
              - if favorite_item.item_num.item.images
                = link_to  shop_item_favorite_path(favorite_item.item_num.item.shop, favorite_item.item_num.item, favorite_item, item_num_id: favorite_item.item_num.id), method: :delete do
                  %i.fas.fa-times
                %li.item
                  = render partial: 'tops/item', locals: {item: favorite_item.item_num.item, image_size: "large", rank_num: 0, coupon: 0}

      #js-item-none-content.content.hide
        .icon
          %i.far.fa-heart.fa-5x.fa-glay
        %h1.noitem-1 お気に入りアイテムの登録はありません
        %h3.noitem-2 気になるアイテムを登録しよう

      #js-bland-content.content.hide
        %h1.content_number.clarfix
          %span ブランド :
          %span#bland-length{'data-id': @blands}
            = @blands
          %span 件
        .content_body.clarfix
          .content_body_list
            - @favorite_brands.each do |favorite_brand|
              .lcontent_body_list_content
                = link_to  brand_path(favorite_brand.brand) do
                  %h2
                    = favorite_brand.brand.name


      #js-bland-none-content.content.hide
        .icon
          %i.far.fa-heart.fa-5x.fa-glay
        %h1.nobland-1 お気に入りブランドの登録はありません
        %h3.nobland-2 気になるブランドを登録しよう


      #js-shop-content.content.hide
        %h1.content_number.clarfix
          %span ショップ :
          %span#shop-length{'data-id': @shops}
            = @shops
          %span 件
        .content_body.clarfix
          .content_body_list
            - @favorite_shops.each do |favorite_shop|
              .list-content
                = link_to shop_path(favorite_shop.shop) do
                  %h2
                    = favorite_shop.shop.name


      #js-shop-none-content.content.hide
        .icon
          %i.far.fa-heart.fa-5x.fa-glay
        %h1.noshop-1 お気に入りのショップの登録はありません
        %h3.noshop-2 気になるショップを登録しよう
