- if Coupon.exists?
  = render partial: "shared/coupon_header", locals: {coupon_price: @coupon.price, shops: @coupon_shops}
= render "shared/header"
.category_var
  .inner
    %ul.nest_list.clearfix
      %li.nest_path
        = link_to "ZOZOTOWN", root_path
      %li.nest_icon
        %i.fas.fa-angle-right
      %li.nest_item
        %a ショップから探す
= render partial: "shared/status_title", locals: {title: "ショップ"}
.body
  .inner
    = render "shared/gender_tab"
    = render partial: "shared/search_box", locals: {title: "ショップ"}
    %dl.index_block
      - @shops.each do |shops|
        .index_contents.clearfix
          - ini = shops[0].name[0].upcase # ブランドの頭文字を取得
          %dt{id: ini + "-link"}
            = ini
          - shops.each do |shop|
            - if shop.items.length > 0
              %dd
                - next_path = request.path_info + "/#{shop.id}"
                = link_to next_path do
                  %span
                    = shop.name
                %span
                  = "(#{shop.items.length})"
