%ul.color_select.clearfix
  - next_path = request.path_info
  %li
    = link_to action: :show, color: "ホワイト" do
      %i.fas.fa-square.square-white
  %li
    = link_to action: :show, color: "ブラック" do
      %i.fas.fa-square.square-black
  %li
    = link_to action: :show, color: "グレー" do
      %i.fas.fa-square.square-gray
  %li
    = link_to action: :show, color: "ブラウン" do
      %i.fas.fa-square.square-brawn
  %li
    = link_to action: :show, color: "ベージュ" do
      %i.fas.fa-square.square-bage
  %li
    = link_to action: :show, color: "グリーン" do
      %i.fas.fa-square.square-green
  %li
    = link_to action: :show, color: "ブルー" do
      %i.fas.fa-square.square-blue
  %li
    = link_to action: :show, color: "パープル" do
      %i.fas.fa-square.square-purple
  %li
    = link_to action: :show, color: "イエロー" do
      %i.fas.fa-square.square-yellow
  %li
    = link_to action: :show, color: "ピンク" do
      %i.fas.fa-square.square-pink
  %li
    = link_to action: :show, color: "レッド" do
      %i.fas.fa-square.square-red
  %li
    = link_to action: :show, color: "オレンジ" do
      %i.fas.fa-square.square-orange
  %li
    = link_to action: :show, color: "シルバー" do
      %i.fas.fa-square.square-silver
  %li
    = link_to action: :show, color: "ゴールド" do
      %i.fas.fa-square.square-gold
