%li
  = link_to "#" do
    %i.fas.fa-square.square-white
%li
  = link_to "#" do
    %i.fas.fa-square.square-black
%li
  = link_to "#" do
    %i.fas.fa-square.square-gray
%li
  = link_to "#" do
    %i.fas.fa-square.square-brawn
%li
  = link_to "#" do
    %i.fas.fa-square.square-bage
%li
  = link_to "#" do
    %i.fas.fa-square.square-green
%li
  = link_to "#" do
    %i.fas.fa-square.square-blue
%li
  = link_to "#" do
    %i.fas.fa-square.square-purple
%li
  = link_to "#" do
    %i.fas.fa-square.square-yellow
%li
  = link_to "#" do
    %i.fas.fa-square.square-pink
%li
  = link_to "#" do
    %i.fas.fa-square.square-red
%li
  = link_to "#" do
    %i.fas.fa-square.square-orange
%li
  = link_to "#" do
    %i.fas.fa-square.square-silver
%li
  = link_to "#" do
    %i.fas.fa-square.square-gold
