.search_side_bar
  .search_side_bar_inner
    %section.search_result_contents
      %i.fas.fa-caret-right.fa-2x
      .search_result_num
        %h2 対象商品
        .result_count
          = top_category.items.length
          %span 件
    .search_side_bar_lists
      %section.select_lists
        %h2.select_lists_element
          性別
        %ul
          %li
            = link_to "#", class: "category-btn" do
              メンズ
              .angle-icon
                %i.fas.fa-angle-right
          %li
            = link_to "#", class: "category-btn" do
              レディース
              .angle-icon
                %i.fas.fa-angle-right
          %li
            = link_to "#", class: "category-btn" do
              キッズ
              .angle-icon
                %i.fas.fa-angle-right
      %section.select_lists
        %h2.select_lists_element 価格タイプ
        %ul
          %li
            = link_to "#", class: "category-btn" do
              通常価格
              .angle-icon
                %i.fas.fa-angle-right
          %li
            = link_to "#", class: "category-btn" do
              セール価格
              .angle-icon
                %i.fas.fa-angle-right
      %section.select_lists
        %h2.head-title.select_lists_element カテゴリー
        = render partial: "search/sub_category_list", locals: {top_category: top_category, sub_categories: sub_categories}
      %section.select_lists
        %h2.select_lists_element カラー
        %ul.color_select.clearfix
          = render "search/color_select"
