%section#top__center__zozo
  %ul#top__center__zozo__contents.clearfix
    - @zozo_items.each do |item|
      = render partial: 'item', locals: {item: item, image_size: "large", rank_num: 0, coupon: 0}
  %p.more-list.link-list
    = link_to "ZOZOアイテム一覧", "#"

//-------- クーポン対象アイテム ---------//
%section#top__center__coupon
  .section-header
    %h2 クーポン対象アイテム
  %ul#top__center__coupon__contents.clearfix
    - @coupon_items.each_with_index do |item, i|
      - if i < 3
        = render partial: 'item', locals: {item: item, image_size: "large", rank_num: 0, coupon: 2000}
      - else
        = render partial: 'item', locals: {item: item, image_size: "middle", rank_num: 0, coupon: 2000}
  %p.more-list.link-list.zozo-item-link
    = link_to "クーポン対象アイテム一覧", "#"

//-------- 人気アイテムランキング ---------//
%section#top__center__ranking
  .section-header
    %h2 人気アイテムランキング
  %ul#top__center__ranking__contents.clearfix
    - @rankings.each_with_index do |ranking, i|
      - item = ranking[0]
      #top__center__ranking__contents__item
        - if i < 3
          = render partial: 'item', locals: {item: item, image_size: "large", rank_num: i+1, coupon: 0}
        - else
          = render partial: 'item', locals: {item: item, image_size: "middle", rank_num: i+1, coupon: 0}
  %p.more-list.link-list.zozo-item-link
    = link_to "ランキング一覧", "#"
//-------- チェックしたアイテム ---------//
%section#top__center__pickup
  .section-header
    %h2 チェックしたアイテム
  %ul#top__center__pickup__contents.clearfix
    - @checked_items.each do |item|
      #top__center__pickup__contents__item
        - if item.images[0]
          = render partial: 'item', locals: {item: item, image_size: "small", rank_num: 0, coupon: 0}
%section#top__center__shops
  .section-header
    %h2 チェックしたショップ
  %ul#top__center__shops__contents.clearfix
    - @checked_shops.each do |shop|
      #top__center__pickup__contents__item
        - if shop.url
          = render partial: 'shop_image', locals: {shop: shop}
