//--------- 「探す」リスト--------------
= render "/tops/left/search_list"
//--------- カテゴリーリスト--------------
= render "/tops/left/category_list"
//--------- お気に入りリスト--------------
= render "/tops/left/favorite_list"
//--------- ブランドリスト--------------
= render "/tops/left/brand_list"
//--------- ショップリスト--------------
= render "/tops/left/shop_list"
