- if @coupon
  = render partial: "coupon_header", locals: {coupon: @coupon, shops: @coupon_shops}
= render "shared/header"
= render "shared/content_header"
%article
  #top.clearfix
    //-------- Leftページ ---------//
    #top__left
      = render "tops_left"
    //-------- センターページ ---------//
    #top__center
      = render "tops_center"
