#info.content_left_info
  %dl 会員登録情報
  %dd#side_info 会員登録情報
  %dd#side_delivery お届け先情報
  %dd#side_credit クレジットカード情報
.content_left_points
  %dl ZOZOポイント
  = link_to "#" do
    %dd#sidepoints ZOZOポイント
.content_left_history
  %dl 注文履歴
  = link_to "#" do
    %dd#sidesent_history 発送済み商品
  = link_to "#" do
    %dd#sidesent_before 発送前商品
.content_left_rely
  %dl お任せ定期便
  = link_to "#" do
    %dd 定期便申し込み内容
.content_left_another
  %dl 外部サイト
  = link_to "#" do
    %dd#another_tie_up 外部サイトとの提携
  = link_to "#" do
    %dd#another_wear_id WEAR IDとの連携
.content_left_unsubscribe
  %dl 退会
  = link_to "#" do
    %dd#unsubscribe 退会手続き
.content_left_purchase
  %dl 買取サービス
  = link_to "#" do
    %dd お申し込み
  = link_to "#" do
    %dd 取引管理
  = link_to "#" do
    %dd 口座情報の登録
  = link_to "#" do
    %dd 買取メルマガ
  = link_to "#" do
    %dd 専用お問い合わせ
    