#header
  #header__wrapper
    #header__wrapper__left.clearfix
      #header__wrapper__left__logo
        = link_to "ZOZOTOWN", ""
      #header__wrapper__left__search.clearfix
        #header__wrapper__left__search__textfield
          %input{type: "text", placeholder: " 何かお探しですか？", class: "search-field", title: "検索フォーム"}
        #header__wrapper__left__search__btn
          = link_to "#", title: "検索", id: "search-btn" do
            %i.fas.fa-search
    #header__wrapper__right
      %ul#header__wrapper__right__contents.clearfix
        %li#header__wrapper__right__contents__user_name
          = link_to "#", id: "login-btn" do
            %span ログイン
        %li#header__wrapper__right__contents__favorite
          = link_to "#", class: "h-list-btn" do
            %i.fas.fa-lg.fa-heart
            %i.fas.fa-comment.fa-2x
              %i.fav-notify
                New
        %li#header__wrapper__right__contents__cart
          = link_to "#", class: "h-list-btn" do
            %i.fas.fa-lg.fa-shopping-cart
        %li#header__wrapper__right__contents__menu
          = link_to "#", class: "h-list-btn" do
            %i.fas.fa-lg.fa-bars
