#header
  #header__wrapper
    #header__wrapper__left.clearfix
      #header__wrapper__left__logo
        = link_to "ZOZOTOWN", root_path
      #header__wrapper__left__search.clearfix
        #header__wrapper__left__search__textfield
          = form_tag('/searches/index', class: "form_tag", method: :get) do
            %input{type: "text", placeholder: " 何かお探しですか？", name: "keyword", class: "search-field", title: "検索フォーム"}
        #header__wrapper__left__search__btn
          = link_to "#", title: "検索", id: "search-btn" do
            %i.fas.fa-search
        #header__wrapper__left__search__incremental__area
    #header__wrapper__right
      %ul#header__wrapper__right__contents.clearfix
        %li#header__wrapper__right__contents__user_name
          // ログイン状態の処理
          - if user_signed_in?
            %a#login-btn
              / - if current_user.name.empty?
              /   %span ゲスト
              / - else
              /   %span
              /     = current_user.name
            .popup__login
              .popup__login__inner
                %ul.popup__login__inner__list
                  %li
                    = link_to "登録情報", "#"
                  %li
                    = link_to "注文履歴・発送状況", "#"
                  %li
                    = link_to "ログアウト", destroy_user_session_path, method: :delete
            // ログアウト状態の処理
          - else
            = link_to new_user_session_path , id: "login-btn" do
              %span ログイン
        %li#header__wrapper__right__contents__favorite
          = link_to favorites_path, class: "h-list-btn", id: "favorite-btn" do
            %i.far.fa-lg.fa-heart
            %i.fas.fa-comment.fa-2x
              %i.fav-notify
                New
          = if @is_login == true
            .popup.clearfix
              .popup__favorite
                .popup__favorite__inner
                  .popup__favorite__inner__contents
                    %i.far.fa-heart
                    %span 会員でない方でも「お気に入り」が使えるようになりました。
        %li#header__wrapper__right__contents__cart
          = link_to carts_index_path, class: "h-list-btn", id: "cart-btn" do
            %i.fas.fa-lg.fa-shopping-cart
            %i.fas.fa-circle
              %i.cart-notify
                1
          .popup__cart
            .popup__cart__inner
              .popup__cart__inner__contents
                %i.fas.fa-shopping-cart
                %span カートに商品が1件あります。
                .look-cart-btn
                  = link_to "ショッピングカートを見る", carts_index_path

        %li#header__wrapper__right__contents__menu
          = link_to "#", class: "h-list-btn", id: "menu-btn" do
            %i.fas.fa-lg.fa-bars
          .popup__menu
            .popup__menu__inner
              %ul.popup__menu__inner__list
                %li
                  %h3 探す
                %li
                  = link_to "カテゴリー一覧", top_categories_path
                %li
                  = link_to "ブランド一覧", brands_path
                %li
                  = link_to "ショップ一覧", shops_path
                %li
                  = link_to "ランキング一覧", rankings_path
