.o.wrapper
  .o.header
    %img{alt: "ZOZOロゴ", height: "26", width: "184", src: "http://www.fashionnetkorea.com/__boardstyle/FASHION/FPEOPLEBRAND/images/20171204203939_509500609.JPG"}
  .o.content
    .o.content-header
      %h1 注文内容の確認
      .o.navi
        %img{alt: "ZOZOロゴ", height: "70", width: "295", src: "https://zozo.jp/_cart/order/img/step_02.gif"}
    .o.main-content
      .o.left-content
        .o.address
          .o.adress-top-content
            .o.addressee お届け先
            .o.address-top
              .o.name
                %div
                  %p.o.in-name
                    %span#selectedName
                      = current_user.name
                      様
                  %p.o.add
                    住所:
                  %span#selectedAdd
                    %p#zipCode 〒2720021
                    %span#prefName
                    %span#address1
                      = current_user.address
                    %span#address2
                  %p.tel
                    電話:
                    %span#telNum
                      = current_user.phone_num
            .o.change
              %a.btn-change{ :href => 'http://google.co.jp' } 変更
          .o.store-locker
            %p.o.icon
              %img{alt: "storeロゴ", height: "50", width: "50", src: "https://img4.zozo.jp/pc/_cart/locker_cart/ico_cnv.png"}
            .store-locker-text
              %p.txt14
                24時間いつでも・どこでもお受取り可能
              %p.txt12
                店舗・ロッカー受取りなら、ご都合のいい時間・場所で受取り可能です。
                %span
                  詳細
            -# %a.o.btn-store-select{ :href => 'http://google.co.jp' }店舗選択
        .o.payment-area
          .o.pay-method 支払い方法
          .o.credit クレジットカード ************5208（一括払い）
          .o.price ¥0
          .o.btn-box
            %a.btn-change{ :href => 'http://google.co.jp' } 変更
        .o.point-area
          .o.zozo-point ZOZOポイント:
          .o.point-description
            ご利用可能ポイント
            %span#usablePoint
              = current_user.point
            ポイント
            %span.o.line /
            今回の還元ポイント:
            %span#return
              = (current_user.cart.total_price * 0.01).round
            ポイント
        .o.delivery-items
          %div お届け商品
          .o.delivery-items-more
            .o.delivery-date-area
              .o.delivery-date
                お届け日
                %span.o.checkbox
                  %i.far.fa-check-circle
              .o.period
                %span
                  = @pre_order.delivery.kind
                %span 1～21日以内に発送
                %span.o.piriod-price
                  = number_to_currency(@pre_order.delivery.price, unit: "￥", precision: 0)
              .o.delivery-change
                %a.btn-change{ :href => 'http://google.co.jp' } 変更
            .o.item-area
              .o.item-category
                商品
              - @item_nums.each do |item_num|
                .o.item-image
                  = image_tag item_num.item.images[0].url, class: "o image-content order-image"
                .o.item-detail
                  %p
                    = item_num.item.shop.name
                  %p
                    = item_num.item.brand.name
                  %p
                    = item_num.item.name
                  %p
                    カラー：
                    = item_num.stock.color
                  %p
                    サイズ：
                    = item_num.stock.size
                  %p
                    数量：
                    = @counts[item_num.number]
                .o.item-price
                  %p
                    = number_to_currency(item_num.item.price, unit: "￥", precision: 0)
              .o.item-btm-change
                %a.btn-change{ :href => 'http://google.co.jp' } 変更
            .o.postage-area
              .o.postage 送料
              .o.postage-price
                = number_to_currency(@pre_order.delivery.price, unit: "￥", precision: 0)
        -# .o.mail-magazine-area
        -#   .o.mail-magazine-title
        -#     メールマガジンの購読
        -#   .o.mail-magazine-right
        -#     %div
        -#       %p ブランド別新着メール
        -#       %p.brand-information ご購入ブランドのセール情報や新入荷情報をお届けします。
        -#     %div.brand-check
        -#       %span
        -#         %i.far.fa-check-circle
        -#       %span Champion
        -#     %div.mail-magazine-info
        -#       %p ZOZOメールマガジン
        -#       %p.sale セールやクーポン、キャンペーンなどのお得な情報をお届けします。
        -#     %div.subscription
        -#       %span
        -#         %i.far.fa-check-circle
        -#       %span 購読する
      .o.right-content
        .o.purchase-area
          %img.o.purchase-btn{alt: "itemロゴ", height: "70", width: "265", src: "https://zozo.jp/_cart/order/img/btn_accrue.png"}
        .o.payment-total
          .o.payment-total-title 商品合計
          .o.payment-total-num
            = number_to_currency(@cart.total_price, unit: "￥", precision: 0)
        .o.point-option
          .o.trade-area
            %p
              %span
                %i.far.fa-check-circle
              %span 買い替え割を利用
            %img.o.trade-btn{alt: "トレードボタン", height: "60", width: "263", src: "https://img4.zozo.jp/tradein/pc/confirm_banner.png"}
          .o.point-use-area
            %p
              %span
              %i.far.fa-check-circle
              %span ZOZOポイントを利用
            %p.o.point-use-possible
              ご利用可能ポイント
              = "#{current_user.point}ポイント"
          .o.discount-area
            .o.discount-box
              %span.goods-title 品代
              %span.goods-price
                = number_to_currency(@cart.total_price, unit: "￥", precision: 0)
            .o.discount-box-point
              %span.point-title クーポン・ポイント
              %span.point-price
                = "-#{@discount_point}pt"
        .o.payment-option
          .o.payment-option-box
            送料
            %span.payment-option-delivery-date
              （指定なし：2～4日以内に発送）
            %span.payment-option-delivery-price
              = number_to_currency(@pre_order.delivery.price, unit: "￥", precision: 0)
          .o.payment-comittion
            支払い手数料
            %span.o.payment-price
              = number_to_currency(@pre_order.payment.price, unit: "￥", precision: 0)
          .o.payment-option-total
            合計
            %span.payment-option-total-tax
              (税込)
            %span.payment-option-total-price
              = number_to_currency(@total_price, unit: "￥", precision: 0)
        .o.attention
          .o.attention-delivery
            ※送料は一律¥200です。
          .o.returned
            %p
              ご注文完了前に必ずサイズ・カラー・価格・数量のご確認をお願いいたします。
            %p
              一部商品や、商品状態等により注文取り消し・返品をお受けできない場合がございます。
            -# .o.returnde-about
            -#   %a{ :href => 'http://google.co.jp' }返品について
