= form_for @pre_order, url: orders_registration_path do |f|
  .body
    .inner
      .payment.clearfix
        .payment_header
          .payment_header_content
            .payment_header_content_logo
              = image_tag 'zozo-logo-white.png', class: "main_logo"
            .payment_header_content_title
              %p お届け先・配送方法・お支払い方法
          .status_nav
            = image_tag 'zozo-write.png', class: "status_nav"
        .payment_inner
          .regist_address
            %dl.delivery_table.clearfix
              %dt.address_title
                お届け先
              %dd.user_info
                %p
                  = current_user.name
                %p 〒232-0014
                %p
                  = "住所： #{current_user.address}"
                %a 電話番号:
                %a
                  = current_user.phone_num
          %dl.delivery_table.clearfix
            %dt.delivery_title
              = f.label "配送方法"
              %p
              = f.label "お届け予定日"
            %dd
              %dl.clearfix
                %dt.table_left
                  = f.radio_button :delivery_id, 0, class: "radio"
                  = f.label "指定なし"
                %dd.table_center
                  %p 2～4日以内に発送
                %dd.table_right
                  %p ¥200
            %dd
              %dl.clearfix
                %dt.table_left
                  = f.radio_button :delivery_id, 1, class: "radio"
                  = f.label "日時指定"
                %dd.table_center
                  %p 希望日時を選択してください
                %dd.table_right
                  %p ¥200
            %dd
              %dl.clearfix
                %dt.table_left
                  = f.radio_button :delivery_id, 2, class: "radio"
                  = f.label "即日配送"
                %dd.table_center
                  %a 最短
                  %a
                    - delivery_day = Time.current.since(12.hours)
                    = delivery_day.strftime("%m月%d日")
                %dd.table_right
                  %p ¥550
          %dl.delivery_table.clearfix
            %dt.delivery_title
              = f.label "お支払い方法"
            = render partial: "payment", locals:{f: f, type: "ツケ払い", price: 324, payment_id: 0}
            = render partial: "payment", locals:{f: f, type: "クレジットカード", price: 0, payment_id: 1}
            = render partial: "payment", locals:{f: f, type: "代金引換", price: 0, payment_id: 2}

        .payment_sidebar
          = render partial: "next_btn", locals: {f: f, total_price: current_user.cart.total_price, shipping_cost: 200, fee: 324}
