= render partial: "shared/nest/nest_category", locals: {top_category: @top_category, sub_category: @sub_category}

.search_content
  .inner.clearfix
    .search_side_bar
      .search_side_bar_inner
        %section.search_result_contents
          = render partial: "search/count", locals: {count: @items.length}
        .search_side_bar_lists
          %section.select_lists
            %h2.select_lists_element 性別
            = render "search/gender_list"
          %section.select_lists
            %h2.select_lists_element 価格タイプ
            = render "search/price_list"
          %section.select_lists
            %h2.head-title.select_lists_element カテゴリー
            = render partial: "search/sub_category_list", locals: {top_category: @top_category, sub_categories: @sub_categories}
          %section.select_lists
            %h2.select_lists_element カラー
            = render "search/color_select"
    %article.search_result
      = render partial: "search/category_header", locals: {category: @sub_category}
      .result_content
        -# = render "search/hot_keyword"
        .result_items.clearfix
          = render "search/pulldown"
          .result_items_list
            - @items.each_with_index do |item, i|
              - if i < 20 && item.images[0]
                %li.item
                  = render partial: 'tops/item', locals: {item: item, image_size: "middle", rank_num: 0, coupon: 0, shop_image: false}
