- if Coupon.exists?
  = render partial: "tops/coupon_header", locals: {coupon_price: @coupon.price, shops: @coupon_shops}
.wrapper
  = render partial: "shared/nest/nest_search", locals: {keyword: @item.brand.name}
  .main-content
    .left-content
      .main-image-content
        .left-button
          .button-left
            %i.fas.fa-angle-left.fa-2x.left-angle
        .main-image
          = image_tag @images[0].url, class: "top_image", alt: "商品画像", id: 0
          .image-grass
        .zoom-area
          = image_tag @images[0].url, class: "zoom_image", alt: "商品画像"
        .right-button
          .button-right
            %i.fas.fa-angle-right.fa-2x.right-angle
      %ul.sub-image-content.clearfix
        - @images.each_with_index do |image, i|
          %li.sub-image-content-mini
            = image_tag image.url, class: "sub_image", alt: "商品画像", id: i
            %p
              = image.color

      .item-content
        %h3 関連アイテム
        %ul#top__center__pickup__contents.clearfix
          #top__center__pickup__contents__item
            - @related_items.each_with_index do |item, i|
              - if item.images[0] && i < 8
                %li.item
                  = render partial: 'tops/item',  locals: {item: item, image_size: "middle", rank_num: 0, coupon: 0, shop_image: false}
      - if user_signed_in? && @checked_items
        .item-content
          %h3 チェックしたアイテム
          %ul#top__center__pickup__contents.clearfix
            - @checked_items.each do |item|
              #top__center__pickup__contents__item
                %li.item
                  - if item.images[0]
                    = render partial: 'tops/item', locals: {item: item, image_size: "middle", rank_num: 0, coupon: 0}

    .right-content
      - if @item.shop.coupon
        = link_to coupons_path, class: "coupon_box" do
          %p
            = number_to_currency(@coupon.price, unit: "￥", precision: 0)
            クーポン対象商品
            %span
              すべての対象商品
      .item-intro
        .namelist
          .shop-brand
            ショップ：
            = link_to @item.shop.name, shop_path(@item.shop.id)
          .shop-brand
            ブランド：
            = link_to @item.brand.name, shop_path(@item.brand.id)
        %h1
          = @item.name
        .proper
          .price-content.clearfix
            .price
              = number_to_currency(@item.price, unit: "￥", precision: 0)
              .tax
                税込
            .late-pay
              .text
                %p
                  %b ツケ払いできます
                  -# %a{ :href => 'http://google.co.jp' }詳細
                %p
                  %a お支払いは
                  %b
                    = (Date.today.month + 2).to_s + "月" + (Date.today.day + 2).to_s + "日"
                  %a でOK
          .point-fav
            %p.fas.fa-database
              = "#{(@item.price * 0.01).round}ポイント還元（ZOZOCARD：#{(@item.price * 0.01 * 2).round}ポイント還元）"
            %p.far.fa-heart
              お気に入りアイテム登録数：
              = @item.favorite_items_count
              人
      .cart-area
        - img_index = 0
        - @item.stocks.each_with_index do |stock, i|
          %dl.clearfix
            %dt.i-image-column
              - if  i %  (@stock_count / @color_count) == 0
                = image_tag @item.images[img_index].url, class: "sub_image"
                %p
                  = @item.images[img_index].color
                - img_index += 1
            %dd.i-stock-column
              .stock
                %p.stock_info
                  - if stock.stock > 0
                    = "#{stock.size} / #{stock.stock}"
                  - elsif stock.stock < 0
                    = "#{stock.size} / 予約可能"
                  - else
                    = "#{stock.size} / 在庫なし"
            %dd.i-btn-column
              - if user_signed_in?
                .cart-box.clearfix
                  - if stock.stock > 0
                    = render partial: "items/cart_btn", locals: {item_id: @item.id, cart_id: @cart.id, item_num_id: @item.item_nums[i].id, keyword: "カートへ入れる"}
                  - else
                    %a.sold_out 完売しました

            %dd.i-favorite-column
              .favorite
                = render partial: "favorites/favorite_icon", locals: {item: @item, shop: @shop, item_num_id: stock.item_num.id}
      .condition-tab
        .left-tab
          %a アイテム説明
      .text-area
        %p
          = @item.description
