%article
  #top.clearfix
    #top__left
      %section#top__left__search
        %h2.head-title 探す
        %ul#top__left__search__list
          %li
            = link_to "ブランドから探す", "#", class: "list-title search-list"
          %li
            = link_to "ショップから探す", "#", class: "list-title search-list"
          %li
            = link_to "ランキングから探す", "#", class: "list-title search-list"
      %section#top__left__category
        %h2.head-title カテゴリー
        %ul#top__left__category__list
          %li.category-btn
            = link_to "トップス", "#", class: "list-title"
          %li.category-btn
            = link_to "ジャケット/アウター", "#", class: "list-title"
          %li.category-btn
            = link_to "パンツ", "#", class: "list-title"
          %li.category-btn
            = link_to "オールインワン", "#", class: "list-title"
          %li.category-btn
            = link_to "スカート", "#", class: "list-title"
          %li.category-btn
            = link_to "ワンピース", "#", class: "list-title"
          %li.category-btn
            = link_to "スーツ/ネクタイ", "#", class: "list-title"
          %li.category-btn
            = link_to "バッグ", "#", class: "list-title"
          %li.category-btn
            = link_to "シューズ", "#", class: "list-title"
          %p
            = link_to "カテゴリ一覧", "#"
      %section#top__left__favorite
        %h2.head-title お気に入り
        %ul#top__left__favorite__list
          %li.category-btn
            = link_to "アイテム", "#", class: "list-title"
          %li.category-btn
            = link_to "ブランド", "#", class: "list-title"
          %li.category-btn
            = link_to "ショップ", "#", class: "list-title"
      %section#top__left__brand.clearfix
      %section#top__left__shop.clearfix
    #top__center
      %section#top__center__zozoitem
      %section#top__center__couponitem
      %section#top__center__rankingitem

    #top__right
