%article
  #top.clearfix
    #top__left
      %section#top__left__search
        %h2.head-title 探す
        %ul#top__left__search__list
          %li
            = link_to "ブランドから探す", "#", class: "list-title link-list"
          %li
            = link_to "ショップから探す", "#", class: "list-title link-list"
          %li
            = link_to "ランキングから探す", "#", class: "list-title link-list"
      %section#top__left__category
        %h2.head-title カテゴリー
        %ul#top__left__category__list
          %li.category-btn{id: "tops-btn"}
            = link_to "トップス", "#", class: "list-title popup-btn tops-btn"
            .popup
              .popup__tops
                .popup__tops__inner
                  %ul.popup__tops__inner__list
                    - @tops.each do |tops|
                      %li.hover-link
                        = link_to tops, "#", class: "list-title"

          %li.category-btn
            = link_to "ジャケット/アウター", "#", class: "list-title"
          %li.category-btn
            = link_to "パンツ", "#", class: "list-title"
          %li.category-btn
            = link_to "オールインワン", "#", class: "list-title"
          %li.category-btn
            = link_to "スカート", "#", class: "list-title"
          %li.category-btn
            = link_to "ワンピース", "#", class: "list-title"
          %li.category-btn
            = link_to "スーツ/ネクタイ", "#", class: "list-title"
          %li.category-btn
            = link_to "バッグ", "#", class: "list-title"
          %li.category-btn
            = link_to "シューズ", "#", class: "list-title"
          %p.more-list.link-list
            = link_to "カテゴリ一覧", "#"
      %section#top__left__favorite
        %h2.head-title お気に入り
        %ul#top__left__favorite__list
          %li.category-btn
            = link_to "アイテム", "#", class: "list-title"
          %li.category-btn
            = link_to "ブランド", "#", class: "list-title"
          %li.category-btn
            = link_to "ショップ", "#", class: "list-title"
      //--------- ブランド--------------
      %section#top__left__brand.clearfix
        %h2.head-title ブランド
        %ul#top__left__search__list.clearfix
          %li
            .rank-icon.first-color
              %i.fa.fa-circle.rank-circle
                %i.rank-num 1
            = link_to "nano univese", "#", class: "list-title link-list"
          %li
            .rank-icon.second-color
              %i.fa.fa-circle.rank-circle
                %i.rank-num 2
            = link_to "green label relaxing", "#", class: "list-title link-list"
          %li
            .rank-icon.third-color
              %i.fa.fa-circle.rank-circle
                %i.rank-num 3
            = link_to "A BATHING APE", "#", class: "list-title link-list"
          %li
            .rank-icon.normal-color
              %i.far.fa-circle.rank-circle
                %i.rank-num-normal 4
            = link_to "Champion", "#", class: "list-title link-list"
          %li
            .rank-icon.normal-color
              %i.far.fa-circle.rank-circle
                %i.rank-num-normal 5
            = link_to "UNITED ARROWS", "#", class: "list-title link-list"
          %p.more-list.link-list
            = link_to "ブランド一覧", "#"
      //--------- ショップ--------------
      %section#top__left__shop.clearfix
        %h2.head-title ショップ
        %ul#top__left__shop__list.clearfix
          %li
            .rank-icon.first-color
              %i.fa.fa-circle.rank-circle
                %i.rank-num 1
            = link_to "nano univese", "#", class: "list-title link-list"
          %li
            .rank-icon.second-color
              %i.fa.fa-circle.rank-circle
                %i.rank-num 2
            = link_to "BEAMS MEN", "#", class: "list-title link-list"
          %li
            .rank-icon.third-color
              %i.fa.fa-circle.rank-circle
                %i.rank-num 3
            = link_to "adidas", "#", class: "list-title link-list"
          %li
            .rank-icon.normal-color
              %i.far.fa-circle.rank-circle
                %i.rank-num-normal 4
            = link_to "Nike", "#", class: "list-title link-list"
          %li
            .rank-icon.normal-color
              %i.far.fa-circle.rank-circle
                %i.rank-num-normal 5
            = link_to "URBAN RESEARCH", "#", class: "list-title link-list"
        %p.more-list.link-list
          = link_to "ショップ一覧", "#"

    //-------- センターページ ---------//
    #top__center
      %section#top__center__zozo
        %ul#top__center__zozo__contents.clearfix
          - 3.times.each do |i|
            = render partial: 'item', locals: {image_size: "large", ranking: false, rank_num: i+1}
        %p.more-list.link-list.zozo-item-link
          = link_to "ZOZOアイテム一覧", "#"

      //-------- クーポン対象アイテム ---------//
      %section#top__center__coupon
        .section-header
          %h2 クーポン対象アイテム
        %ul#top__center__coupon__contents.clearfix
          - 3.times.each do |i|
            = render partial: 'item', locals: {image_size: "large", ranking: false, rank_num: i+1}
        %ul#top__center__coupon__contents.clearfix
          - 4.times.each do |i|
            = render partial: 'item', locals: {image_size: "middle", ranking: false, rank_num: i+1}
        %p.more-list.link-list.zozo-item-link
          = link_to "クーポン対象アイテム一覧", "#"

      //-------- 人気アイテムランキング ---------//
      %section#top__center__ranking
        .section-header
          %h2 人気アイテムランキング
        %ul#top__center__ranking__contents.clearfix
          - 3.times.each do |i|
            #top__center__ranking__contents__item
              = render partial: 'item', locals: {image_size: "large", ranking: true, rank_num: i+1}
        %ul#top__center__ranking__contents.clearfix
          - 4.times.each do |i|
            = render partial: 'item', locals: {image_size: "middle", ranking: true, rank_num: i+1}
        %p.more-list.link-list.zozo-item-link
          = link_to "ランキング一覧", "#"
      //-------- チェックしたアイテム ---------//
      %section#top__center__pickup
        .section-header
          %h2 チェックしたアイテム
        %ul#top__center__pickup__contents.clearfix
          - 20.times.each do |i|
            #top__center__pickup__contents__item
              = render partial: 'item', locals: {image_size: "small", ranking: true, rank_num: i+1}
    #top__right
