.category_var
  .inner
    %ul.nest_list.clearfix
      %li.nest_path
        = link_to "ZOZOTOWN", ""
      %li.nest_icon
        %i.fas.fa-angle-right
      %li.nest_path
        = link_to "nano・universe", ""
      %li.nest_icon
        %i.fas.fa-angle-right
      %li.nest_item
        %a 対象商品

.search_content
  .inner.clearfix
    .search_side_bar
      .search_side_bar_inner
        %section.search_result_contents
          %i.fas.fa-caret-right.fa-2x
          .search_result_num
            %h2 対象商品
            .result_count
              10,000
              %span 件
        .search_side_bar_lists
          %section.select_lists
            %h2.select_lists_element
              性別
            %ul
              %li.select_lists_element
                = link_to "#", class: "select-btn" do
                  メンズ
                  .angle-icon
                    %i.fas.fa-angle-right
              %li.select_lists_element
                = link_to "#", class: "select-btn" do
                  レディース
                  .angle-icon
                    %i.fas.fa-angle-right
              %li.select_lists_element
                = link_to "#", class: "select-btn" do
                  キッズ
                  .angle-icon
                    %i.fas.fa-angle-right
          %section.select_lists
            %h2.select_lists_element 価格タイプ
            %ul
              %li.select_lists_element
                = link_to "#", class: "select-btn" do
                  通常価格
                  .angle-icon
                    %i.fas.fa-angle-right
              %li.select_lists_element
                = link_to "#", class: "select-btn" do
                  セール価格
                  .angle-icon
                    %i.fas.fa-angle-right
          %section.select_lists
            %h2.head-title.select_lists_element カテゴリー
            = render "tops/left/category_list"
          %section.select_lists
            %h2.select_lists_element カラー
            %ul.color_select.clearfix
              = render "search/color_select"
    %article.search_result
      .result_header
        .brand_title
          %h1.brand_name
            nano・universe
          -# .brand_name_kana
          -#   ナノユニバース
          .favorite_link
            %i.far.fa-lg.fa-heart
            = link_to "お気に入りブランドに追加", ""
      .result_content
        %ul.hot_keyword.clearfix
          %li
            =link_to "Tシャツ/カットソー", "#"
          %li
            =link_to "ワンピース", "#"
          %li
            =link_to "シャツ/ブラウス", "#"
          %li
            =link_to "パンツ", "#"
          %li
            =link_to "スカート", "#"
          %li
            =link_to "ショルダーバッグ", "#"
          %li
            =link_to "ニット/セーター", "#"
        .result_items.clearfix
          %ul.guide_list.clearfix
            %li.nallow_list
              .pulldown
                .pulldown_parent{id: "reserve-btn"}
                  = link_to "#" do
                    在庫商品＋予約商品
                    %i.fas.fa-angle-down.fa-lg
                .pulldown_child{id: "reserve-pulldown"}
                  %ul
                    %li.stock_and_reserve
                      = link_to "在庫商品＋予約商品", "#"
                    %li.stock.selected
                      = link_to "在庫商品", "#"
                    %li.reserve
                      = link_to "予約商品", "#"
            %li.nallow_list
              .pulldown
                .pulldown_parent{id: "stock-btn"}
                  = link_to "#" do
                    在庫あり
                    %i.fas.fa-angle-down.fa-lg
                .pulldown_child#stock-pulldown
                  %ul
                    %li.stock_and_reserve
                      = link_to "在庫あり", "#"
                    %li.stock.selected
                      = link_to "在庫なし含む", "#"
            %li.nallow_list
              .pulldown
                .pulldown_parent{id: "popular-btn"}
                  = link_to "#" do
                    人気順
                    %i.fas.fa-angle-down.fa-lg
                .pulldown_child{id: "popular-pulldown"}
                  %ul
                    %li.stock_and_reserve
                      = link_to "人気順", "#"
                    %li.stock
                      = link_to "新着順", "#"
                    %li.stock_and_reserve
                      = link_to "価格が安い順", "#"
                    %li.stock
                      = link_to "価格が高い順", "#"
            %li.switch_img
              %ul.switch_icons.clearfix
                %li.switch_nine
                  %i.fas.fa-th.fa-lg
                %li.switch_four
                  %i.fas.fa-th-large.fa-lg
          .result_items_list
            - 15.times.each do |item|
              = render partial: 'tops/item', locals: {image_size: "middle", rank_num: 0, coupon: 0, shop_image: false}
