.category_var
  .inner
    %ul.nest_list.clearfix
      %li.nest_path
        = link_to "ZOZOTOWN", root_path
      %li.nest_icon
        %i.fas.fa-angle-right
      %li.nest_item
        %i.far.fa-user
        %a 登録情報の変更
.content
  .content_head
    %span
      / = image_tag("content_head_info.png")
    %span
      = current_user.email
    %span 様の登録情報
  .content_left
    = render "users/users_sideber"

  .content_main
    - if params[:id] == "basic"
      = render "users/users_address"
    - elsif params[:id] == "mail"
      = render "users/users_mail"
    - elsif params[:id] == "pass"
      = render "users/users_pass"
    - elsif params[:id] == "card"
      = render "users/users_card"
    -else
      %h2 このリンクは無効です
      = link_to "登録一覧へ戻る", users_index_path
